header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
}

header h1 {
    font-size: 32px;
}

article p:first-of-type {
    font-weight: bold;
}

article p:last-of-type {
    color: red;
}


a:link {
    color:greenyellow;
}

a:visited {
    color: aqua;
}

a:hover {
    color: red;
}

a:active {
    color: black;
}

li:nth-child(1), li:nth-child(7) {
    font-weight: bold;
}

li:nth-child(even) {
    background-color: gray;
}

li:nth-child(odd) {
    background-color: lightgray;
}

li:nth-child(3n+1) {
    text-decoration: underline;
}

article:nth-of-type(2) {
    background-color: gray;
}

article:nth-of-type(odd){
    background-color: lightgray;
}

article {
    font-size: 25px;
}

article h2 {
    font-size: 1,5em;
}

article p {
    font-size: 80%;
}