header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
}

header h1 {
    font-size: 32px;
}

article p:first-child {
    font-weight: bold;
}

article p:last-child {
    color: red;
}


a:link {
    color:greenyellow;
}

a:visited {
    color: aqua;
}

a:hover {
    color: red;
}

a:active {
    color: black;
}